$wflightblue: #dadada;
$wfgrey: rgb(228, 228, 228);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#flex-wrapper-1 {
    display: flex; // flex's control pannel container and flex wrapper 2
    height: 100vh;
}
#control-panel-container {
  //display: flex; // flex
  height: 100%;
  background-color: $wflightblue;
  flex-direction: column;
  flex: 1;
}

#flex-wrapper-2 {
    display: flex; // flex's visualizer containers and trace display
    flex: 3.5;
    flex-direction: column;
    #visualizer-container {
        flex: 2;
        height: 100vh;
    }
    #tracedisplay {
        margin: 20px;
        border: 1px solid $wfgrey;
        border-radius: 1.5px;
        flex: 1;
        overflow-y: auto;
    }
}

#loadserver {
    padding: 5px;
    border: 1px solid $wfgrey;
    flex: 1;
   // display: flex;
    form {
        display: flex;
        Button {
            margin: 0px 0px 0px 10px;
        }
    }
}

#submitquery {
    border: 1px solid $wfgrey;
    height: 100%;
    .CodeMirror { 
        height:80vh !important
    }
    Button {
        margin: 5px;
    }
}

// ____________________ D3 Network Graph _____________________

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

// marker#licensing {
//     fill: green;    
// }

path.link.h-false {
    stroke: rgb(184, 184, 184);
}

path.link.h-true {
    stroke: green;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

circle.circle-h-true {
    fill:green;
    stroke: #333;
    stroke-width: 1.5px;
}

circle.circle-h-false {
    fill: rgb(184, 184, 184);
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
    }



circle.blue {
    fill:blue;
    stroke: #333;
    stroke-width: 1.5px;
}

    // ____________________ D3 Tracer Data _____________________

.bar {
    fill: grey;
}

.axis {
    font-size: 8px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 8px;
}