$wflightblue: #f0f0f0;
$wfblue: rgb(33, 151, 33);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
    display: flex;
}
#control-panel-container {
  background-color: $wflightblue;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

#wrapper-2 {
    flex: 3.5;
    display: flex;
    flex-direction: column;
}

#visualizer-container {
    flex: 2;
    border: 1px solid $wfblue;
    height: 100vh;
}

#tracedisplay {
    border: 1px solid $wfblue;
    flex: 1;
    overflow-y: auto;
}

#loadserver {
    border: 1px solid $wfblue;
    flex: 1;
    display: flex;
    form {
        margin: auto;
    }
}

#submitquery {
    border: 1px solid $wfblue;
    // flex: 2;
    // display: flex;
    form {
        margin: auto;
    }
}



// ____________________ D3 Network Graph _____________________

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#licensing {
    fill: green;    
}

path.link.licensing {
    stroke: green;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

path.link.child {
    stroke: green;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
    }

    // ____________________ D3 Tracer Data _____________________

.bar {
    fill: grey;
}

.axis {
    font-size: 8px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 8px;
}